.threads div{
    padding-top: 1em;
}
.threads div span{
    padding-left: 0.2em;
    padding-right: 0.2em;
}

#threadPlaceholder{
    display: none;
    margin-top: 1em;
    font-size: 2em;
}

input{
    background-color: white;
    color: black;
}

.btn-group button {
    border: 1px solid black;
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
  }

  .btn-group button:hover {
    background-color: darkgray;
  }

  .btn-group {
      margin-bottom: 2em;
  }

#tabBtns{
    margin-bottom: 3em;
    display: block;
}

  .activeTab{
      color: black;
      background-color: gray;
  }

  .overlayContent{
      background-color: lightgray;
      border: 3px solid black;
      border-radius: 3px;
      opacity: 1.0;
      color: black;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      min-height: 100%;
      padding: 1em;
      margin: 1em;
  }

.danger{
    color: red;
}

.warn{
    color: orange;
}

.good{
    color: greenyellow;
}

.pre{
    padding-top: 1em;
    word-wrap: break-word;
    font-family: monospace;
    white-space: pre;
}
.messageContent{
    font-size: 1.5em;
}