img{
    vertical-align: middle;
}
.navbarLogo{
    display: inline;
}

.onboarding{
    padding-left: 5%;
    text-align: justify;
    font-size: 1.8em;
}

.icon{
    padding-right: 1em;
}
form{
    margin-left: 2%;
}


noscript{
    font-size: 2em;
    color: yellow;
}