img{
    vertical-align: middle;
}
.navbarLogo{
    display: inline;
}

.onboarding{
    padding-left: 5%;
    text-align: justify;
    font-size: 1.8em;
}

.icon{
    padding-right: 1em;
}
form{
    margin-left: 2%;
}


noscript{
    font-size: 2em;
    color: yellow;
}

p{
    font-size: 1.3em;
}

.formBtn{
    margin-top: 1em;
}
.steps-content{
    min-height: 200px;
}

.step-content .box{
    padding: 2em;
}

.step-content .box span{
    text-decoration: underline;
}

.steps-content input[type='checkbox'] {
    margin-right: 10px;
}