.conversationList li{
    list-style: none;
    padding-top: 1em;
}

.convoListContainer{
    margin-left: 1%;
    border-radius: 5px;
    border: 1px solid black;
    overflow-y: scroll;
}

.chatContent{
    padding-right: 5%;
}

.connectStatus{
    float: right;
}

.friendsTitle{
    text-align: center;
    display: block;
}

/*
.chatInput{
    position: fixed;
    bottom: 0;
}
*/
.chatInput{
    margin-top: -3em;
}
.chatInput textarea{
    resize: none;
}
.chatInput textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

.from{
    margin-top: 1em;
    display: block;
    padding-bottom: 0.5em;
}

.chatFeed{
    display: block;
    max-height: 500px;
    overflow-y: scroll;
    min-height: 100%;
    padding-top: 4em;
    transform: rotate(180deg);
    direction: rtl;
  }

.messageEntry{
    transform: rotate(180deg);
    direction: ltr;
}
