.conversationList li{
    list-style: none;
    padding-top: 1em;
}

.convoListContainer{
    margin-left: 1%;
    border-radius: 5px;
    border: 1px solid black;
    overflow-y: scroll;
}

.chatContent{
    padding-right: 5%;
}

.connectStatus{
    float: right;
}

.friendsTitle{
    text-align: center;
    display: block;
}

.chatInput{
    position: fixed;
    bottom: 0;

}
.chatInput textarea{
    resize: none;
}