__pycache__/
onionr/data/config.ini
onionr/data/*.db
onionr/data-old/*
onionr/*.pyc
onionr/*.log
onionr/data/hs/hostname
onionr/data/*
onionr/data-backup/*
onionr/gnupg/*
run.sh
onionr/data-encrypted.dat
onionr/.onionr-lock
core
.vscode/*
venv/*
