__pycache__/
src/data/config.ini
src/data/*.db
src/data-old/*
src/data*
src/tor
src/tor.exe
src/testdata
src/*.pyc
src/*.log
src/data/hs/hostname
src/data/*
src/data-backup/*
run.sh
src/.onionr-lock
daemon-true.txt
.vscode/tags
.vscode/settings.json

venv*
src/fs*
src/tmp/*
testdata/*
*.dll
*.exe

.mypy_cache/

dist/*

# log files
output.log
*.log
src/output.log
src/*.log
src/data/output.log
src/data/*.log

# package files
onionr-*.pkg.tar.gz
pkg/
spawnnodes.py

static-data/tor-node-list.dat
