urllib3==1.25.10
requests==2.24.0
PyNaCl==1.4.0
gevent==20.6.2
Flask==1.1.2
PySocks==1.7.1
stem==1.8.0
deadsimplekv==0.3.1
unpaddedbase32==0.2.0
streamedrequests==1.0.3
toomanyobjs==1.1.0
niceware==0.2.1
psutil==5.7.2
filenuke==0.0.0
mimcvdf==1.1.0
watchdog==0.10.3
ujson==3.0.0
