.threadEntry button{
    margin-right: 1%;
}
.threadEntry span, .sentboxList span{
    padding-left: 1%;
}
.threadEntry, .sentboxList{
    cursor: pointer;
}

.overlayContent{
    background-color: lightgray;
    border: 3px solid black;
    border-radius: 3px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100%;
    padding: 1em;
    margin: 1em;
}

#draftText{
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    width: 50%;
    height: 75%;
    min-width: 2%;
    min-height: 5%;
    background: white;
    color: black;
}

.sentboxList{
    padding-top: 1em;
}

.messageContent{
    padding-top: 1em;
}


#tabBtns ul .icon {
    pointer-events: none;
}


#settingsModal .modal-card-body{
    font-size: 150%;
    min-height: 300px;
}

#settingsModal textarea{
    resize: none;
    margin-top: 1em;
}

#settingsModal small{
    font-size: 0.5em;
}
