.quickview-body{
    font-size: 1em;
    background-color: #282f2f;
}
.quickview-block{
    padding-left: 1em;
    padding-top: 5px;
    font-size: 1em;
}

#logfileOutput{
    max-height: 700px;
    overflow-y: scroll;
}