[Unit]
Description=Onionr Daemon
Documentation=https://onionr.net/docs/
After=network.target tor.service
Requires=network.target tor.service systemd-networkd-wait-online.service

[Service]
Environment="DATA_DIR=/usr/share/onionr"
Environment="LOG_DIR=/var/log/onionr/"

ExecStart=/usr/bin/onionr --start
ExecStop=/usr/bin/onionr --stop

KillMode=mixed
KillSignal=SIGQUIT
TimeoutStopSec=5s
Type=simple
Restart=on-abnormal

[Install]
WantedBy=tor.service

