[Unit]
Description=Onionr Daemon
Requires=network.target tor.service
After=network.target tor.service

[Service]
Type=simple
Environment="DATA_DIR=/usr/share/onionr"
Environment="LOG_DIR=/var/log/onionr/"
ExecStart=/usr/bin/onionr --start
ExecStop=/usr/bin/onionr --stop
Restart=always

[Install]
WantedBy=tor.service
