[Unit]
Description=Onionr Daemon
Documentation=https://onionr.net/docs/
After=network-online.target
Requires=network-online.target

[Service]
Environment="ONIONR_HOME=/var/lib/onionr"
Environment="LOG_DIR=/var/log/onionr"

ExecStart=/usr/bin/onionr start
ExecStop=/usr/bin/onionr stop

KillMode=mixed
KillSignal=SIGQUIT
TimeoutStopSec=30s
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
