h2, h3{
    font-family: Arial, Helvetica, sans-serif;
}

form{
    border: 1px solid black;
    border-radius: 5px;
    padding: 1em;
    margin-right: 10%;
}
form label{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#friendList{
    display: inline;
}
#friendList span{
    text-align: center;
}
#friendList button{
    display: inline;
    margin-right: 10px;
}

#friendInfo .overlayContent{
    padding: 1em;
    text-align: center;
}
#defriend{
    display: block;
    margin-left: 50%;
    margin-bottom: 1em;
}